{{>header project=project}}
<div class="container-fluid">
    <div class="row">
        <div class="intro">
            <h1>{{#if loggedIn}}Welcome back!!! <span id="username"></span> {{else}}<span>Hello there</span>{{/if}},
                welcome to my
                project <span class="heart" style="text-transform: uppercase">{{project}}</span></h1>
            <a {{#if loggedIn}} href='/app' {{else}} href="{{digInUrl}} {{/if}}" class="heart"><h1>Let's dig in</h1></a>
            <br>
        </div>
    </div>
</div>
<script src="/public/assets/js/index.js" type="text/javascript"></script>
{{>footer}}